version: "3.8"
services:
    redis:
        image: redis:6.2.5
        container_name: redis-server
        ports:
            - "6379:6379"
    gateway:
        build: ./gateway
        container_name: gateway
        ports:
            - "3000:3000"
        environment:
            - READTIMEOUT=5
            - READHEADERTIMEOUT=5
            - WRITETIMEOUT=20
            - IDLETIMEOUT=5
            - MAXHEADERBYTES=1048576
            - DB_TYPE=REDIS
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - LOG_PATH=/log/log.csv
            - NO_PROXY=test-server
        volumes:
            - ./log:/log
    management-front:
        build: ./management-front
        container_name: management-front
        ports:
            - "8080:8080"
        environment:
            - PORT=8080
            - BACKEND_SERVER=management-api:3001
    management-api:
        build: ./management-api
        container_name: management-api
        ports:
            - "3001:3001"
        environment:
            - DATABASE_DRIVER=postgres
            - DATABASE_HOST=postgres
            - DATABASE_PORT=5432
            - DATABASE_USER=root
            - DATABASE_PASSWORD=password
            - DATABASE_NAME=root
            - DATABASE_SSLMODE=disable
            - API_DB_TYPE=REDIS
            - REDIS_HOST=redis
            - REDIS_PORT=6379
    test-server:
        build: ./quickstart
        container_name: test-server
        ports:
            - "3333:3333"
        environment:
            - NO_PROXY=gateway
    postgres:
        image: postgres:13.3
        container_name: postgres
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=password
            - POSTGRES_INITDB_ARGS=--encoding=UTF-8
        ports:
            - "5432:5432"
#        volumes:
#            - ./init:/docker-entrypoint-initdb.d
#            - /etc/localtime:/etc/localtime:ro
#        volumes:
#            # for Mac
#            - ./sql:/docker-entrypoint-initdb.d
#            # for Windows
#            # SQL_PATH should set in this format: /c/path/to/sql
#            - ${SQL_PATH}:/docker-entrypoint-initdb.d
    pgweb:
        image: sosedoff/pgweb:0.11.7
        container_name: pgweb
        ports:
            - "8081:8081"
        environment:
            - DATABASE_URL=postgres://root:password@db:5432/root?sslmode=disable
            - NO_PROXY=postgres
        links:
            - postgres:db
        depends_on:
            - postgres
    localstack:
        image: localstack/localstack:0.12.17
        container_name: localstack
        ports:
            - "4566:4566"
        environment:
            - SERVICES=dynamodb
            - DEFAULT_REGION=ap-northeast-1
